.h-screen{
    height: 100vh;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.h-24 {
    height: 200px;
}

.bg-b {
    background-color: lightblue;
}

.jb {
    justify-content: space-between;
}